<style>
    #query_input {
        margin: 30px;
    }

    #result {
        margin: 10px 30px 10px 30px;
    }

    label {
        margin: 10px;
    }

    input {
        margin: 10px;
    }

    p {
        margin: 10px;
    }
</style>

<form action="/queries/" id="query_input" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

{% if result %}
<div id="result">
    <h2>Nuber of results: {{result.result_count}}</h2>
    <h3>The most popular words:</h3>
    <ul>
        {% for word in popular_words %}
        <li>{{word.word}}</li>
        {% endfor %}
    </ul>
    <h3>Top results:</h3>
    <ul>
        {% for link in links %}
        <li><a href="{{link.url}}">{{ link.url }}</a></li>
        {% endfor %}
    </ul>
</div>
{% else %}
<p>No results are available.</p>
{% endif %}