<form action="/queries/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

<h2>{{result.result_count}} results</h2>
{% if popular_words %}
    <ul>
    {% for word in popular_words %}
        <li>{{word.word}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No results are available.</p>
{% endif %}
{% if links %}
    <ul>
    {% for link in links %}
        <li>{{link.position}} {{ link.url }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No results are available.</p>
{% endif %}